.numberItem,
.arrow,
.active {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #E74E13;
	color: #E74E13;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.numberItem,
.active {
	margin-right: 10px;
	background: transparent;
}

.numberItem:hover,
.active {
	background-color: #E74E13;
	color: #fff;
}

.numberItem:hover path,
.active {
	fill: #fff;
}

.numbersPanel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 325px;
}

.numberItemWrap {
	display: flex;
	justify-content: space-around;
	width: auto;
	margin-left: 5%;
	margin-right: 5%;
}