.passwordChangePage {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.passwordChangeBlock {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 6%;
}

.passwordChange {
	display: flex;
	flex-direction: column;
	width: 450px;
	justify-content: space-around;
	margin-left: 75px
}

.passwordChange input {
	width: 375px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #00000033;
	margin-bottom: 20px;
	padding-left: 20px;
}

.passwordWrapper {
	position: relative;
	width: 100%;
}

.passwordWrapper input {
	width: 100%;
}

.togglePassword {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-90%);
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	color: #333;
}

.passwordChange input.errorInput {
	border: 2px solid red !important;
	background-color: #fff5f5 !important;
}

.success {
	color: green;
	font-size: 14px;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	.passwordChangePage {
		width: 90%;
	}

	.passwordChange {
		width: 100%;
		height: auto;
		margin-left: 0;
		align-items: center;
	}

	.passwordChange input {
		width: 100%;
	}

	.passwordChangePage .passwordChange .buttonBody {
		width: 100%;
	}
}