.slider {
	overflow: hidden;
	position: relative;
	margin: 5% 0;
}

.slider .circleArrow {
	display: inline-flex;
}

.slider .slide-list {
	display: flex;
	height: 100%;
	transition: transform 0.5s ease-in-out;
	width: 90%;
	margin: 0 auto;
}

.display {
	display: inline-flex;
	width: 100%;
	align-items: center;
}