.circle {
	width: 40px;
	height: 40px;
	border: solid 1px #8C3213;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #FFFFFF;
}

.border {
	border: none;
}

.circle:hover {

	background-color: #8C3213;
	color: #FFFFFF;
}

.circle:hover path {
	fill: #FFFFFF
}

a {
	cursor: pointer;
}