.productPanel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 2%;
}

.productPanel .card {
	margin-bottom: 5%;
}

.productPanelWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productPanelSelect {
	width: 255px;
	height: 51px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #00000033;
	color: #00000080;
}

.filterMl {
	display: flex;
}

.filterSm {
	display: none;
}

.selection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.filterMl {
		display: none;
	}

	.filterSm {
		display: flex;
		width: 255px;
	}

	.selection {
		width: 85%;
	}
}

@media screen and (max-width: 768px) {
	.selection {
		justify-content: space-around;
	}
}

@media screen and (max-width: 600px) {
	.productPanelSelect {
		width: 100%;
		margin-left: 0;
		margin-top: 5%;
	}

	.selection {
		flex-direction: column;
		width: 85%;
	}

	.filterSm {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.selection {
		width: 65%;
	}
}

@media screen and (max-width: 400px) {
	.productPanelSelect {
		width: 255px;
	}

	.selection {
		width: 255px;
	}
}