.contactsPageBlock {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 5%;
}

.contactsBlock {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 320px;
	margin-top: 5%;
	padding: 5%;
	border-radius: 20px;
	box-shadow: 0px 0px 8px 0px #00000026;
}

.contactsSubBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contactsBlockText {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.94px;
	text-align: left;
	color: #1E6140;

}

.contactsBlockTextBasic {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.5px;
	text-align: left;
	color: #000000;
}

hr {
	width: 100%;
}

textarea {
	width: 550px;
	height: 100px;
	border-radius: 20px;
	border: 1px solid #00000033;
	margin-bottom: 20px;
	padding-left: 20px;
}

.dataAccountForm .contactsBlockTextBasic {
	text-align: center;
}

.dataAccountForm {
	width: 550px;
}

@media screen and (max-width: 1024px) {
	.contactsPageBlock .dataAccountForm {
		height: auto;
	}

	.contactsBlock {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.contactsSubBlock {
		flex-direction: column;
	}


}

@media screen and (max-width: 600px) {
	.contactsPageBlock {
		width: 81%;
	}

	.contactsBlock {
		height: auto;
	}

	.contactsSubBlock {
		flex-direction: column;
	}

	.contactsPageBlock .dataAccountForm {
		margin-left: 0;
		height: auto;
	}

	.contactsPageBlock .dataAccountForm .address {
		width: 100%;
	}
}