.iconTextBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: 300px;
}

.textBox {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	flex-wrap: wrap;
	width: 70%;
}

.secondaryText {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #84BE51;
}

.mainText {
	text-decoration: none;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	cursor: pointer;
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
	.logoBlock .iconTextBox {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.logoBlock .iconTextBox {
		display: none;
	}
}