.h1 {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	color: black;
	justify-content: center;
}

.h1 h1 {
	font-weight: 700;
	margin-bottom: 0;
	font-size: 55px;
	font-family: Montserrat;
	line-height: 67px;
	letter-spacing: 1px;
}

.h1 img {
	height: 30px;
}

@media screen and (max-width: 400px) {
	.h1 h1 {
		font-size: 40px;
	}
}