.slider-container {
	margin: 5% 0;
}

.slider1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.slick-list {
	width: 80%;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.dots1 li,
.dots2 li {
	list-style-type: none;
}

.dots1 button {
	width: 6px;
	height: 16px;
	background: #8D32001A;
	border: none;
	padding: 0;
	border-radius: 20px;
	color: transparent;
}

.dots2 button {
	width: 6px;
	height: 16px;
	background: #FFFFFF33;
	border: none;
	padding: 0;
	border-radius: 20px;
	color: transparent;
}

.dots1 button:hover {
	height: 30px;
	background: #8D3200;
}

.dots2 button:hover {
	height: 30px;
	background: #FFFFFF;
}

.dots1,
.dots2 {
	width: 100px;
	height: 50px;
	display: flex !important;
	flex-direction: row;
	justify-content: space-around;
	align-items: end;
	margin: 2% auto 0 auto;
}

.dots1 li.slick-active button {
	height: 30px;
	background: #8D3200;
}

.dots2 li.slick-active button {
	height: 30px;
	background: #FFFFFF;
}

.slide {
	width: 100%;
	height: auto;
}

.slick-prev {
	left: 0px;
}

.slick-prev:before {
	content: '';
}

.slick-next {
	right: 0px;
}

.slick-next:before {
	content: '';
}

.slick-next {
	transform: rotate(180deg);
	top: 40%;
}

.partners .slick-next {
	top: 5%;
}

.partners .slick-prev {
	top: 30%;
}

.slick-arrow {
	height: 70px;
	width: 70px;
	border: #84C551 solid 1px;
	color: #84C551;
	border-radius: 50%;
	background-color: transparent;
	display: flex !important;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10000;
}

.slick-arrow:hover {
	background-color: #84C551;
	color: #FFFFFF;
}

.slick-arrow:hover path {
	fill: #FFFFFF
}