.backgroundPromoutions {
	background-color: #21603F;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
}

.promoutions {
	padding-bottom: 3%;
}

.promoutions .buttonBody {
	margin-left: 45%;
}

@media screen and (max-width: 600px) {
	.promoutions .buttonBody {
		margin-left: 35%;
	}
}

@media screen and (max-width: 400px) {
	.promoutions .buttonBody {
		margin-left: 25%;
	}
}