.imgSection2 {
	background-image: url('/screen2.webp');
	background-size: cover;
	background-position: center;
	height: 560px;
	width: 685px;
	position: relative;
}

.leaf1Section2 {
	position: absolute;
	top: 315px;
	left: -50px
}

.leaf2Section2 {
	position: absolute;
	bottom: -15px;
	left: 80px;
}

@media screen and (max-width: 600px) {
	.imgSection2 {
		height: 400px;
		width: 510px;
	}
}

@media screen and (max-width: 400px) {
	.imgSection2 {
		height: 200px;
		width: 310px;
	}

	.leaf1Section2,
	.leaf2Section2 {
		display: none;
	}
}