.logoBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin: 2% auto;
}

@media screen and (max-width: 1440px) {
	.logoBlock {
		width: 85%;
	}
}

@media screen and (max-width: 1024px) {
	.logoBlock {
		width: auto;
	}
}


@media screen and (max-width: 768px) {

	.logoBlock {
		width: 95%;
	}
}

@media screen and (max-width: 400px) {
	.logoBlock {
		flex-direction: column;
	}

	.logoBlock img {
		margin-bottom: 10%;
	}
}