.filterItem {
	margin-bottom: 5%;
}

label {
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] {
	appearance: none;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.30);
	border-radius: 3px;
	height: 1em;
	width: 1em;
	vertical-align: text-bottom;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"]::before {
	content: "";
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	top: 0;
}

input[type="checkbox"]:checked::before {
	width: 0.4em;
	height: 0.4em;
	background: #84C551;
	border: 1px solid #84C551;
}

.filterItemText {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(0, 0, 0, 0.60);
	margin-left: 15px;
}

.filter {
	width: 255px;
	--filter-width: 255px;
	height: max-content;
	box-shadow: 0px 0px 8px 0px #00000026;
	border-radius: 20px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.filterTitle {
	width: 255px;
	height: 51px;
	background: #84BE51;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 0px 8px 0px #00000026;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.filter h4 {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: #000000;
}

.filterText {
	padding-left: 10%;
	padding-bottom: 10%;
}

@media screen and (max-width: 1024px) {
	.filterText {
		display: none;
	}

	.filterTitle {
		width: 100%;
		border-radius: 20px 20px 20px 20px;
	}

	.filter:hover .filterTitle {
		border-radius: 20px 20px 0px 0px;
	}

	.filter:hover .filterText {
		display: flex;
		flex-direction: column;
		width: var(--filter-width);
		height: max-content;
		box-shadow: 0px 0px 8px 0px #00000026;
		border-radius: 0px 0px 20px 20px;
		background-color: #FFFFFF;
		cursor: pointer;
		position: absolute;
		padding-left: 1%;
		box-sizing: border-box;
		z-index: 10;
	}
}

@media screen and (max-width: 600px) {
	.filter {
		width: 482px;
		--filter-width: 482px;
	}

	.filter:hover .filterText {
		width: var(--filter-width);
		padding-left: 10%;
	}

	.catalogPage .h1 {
		margin-left: 10%;
	}
}

@media screen and (max-width: 425px) {
	.filter {
		width: 260px;
		--filter-width: 260px;
	}

	.filter:hover .filterText {
		width: var(--filter-width);
		padding-left: 10%;
	}
}

@media screen and (max-width: 400px) {
	.filter {
		width: 255px;
		--filter-width: 255px;
	}

	.filter:hover .filterText {
		width: var(--filter-width);
		padding-left: 10%;
	}
}