.aboutBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	width: 80%;
	margin-top: 5%;
}

.aboutText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: Montserrat;
	font-size: 55px;
	line-height: 67px;
	letter-spacing: 1px;
	text-align: left;
	width: 35%;
}

.itemsAbout {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.94px;
	color: #00000080;
	margin-top: 10%;
	margin-bottom: 10%;
}

.itemsAbout span {
	font-weight: 700;
	color: #1E6140;
}

@media screen and (max-width: 1024px) {
	.aboutBlock {
		display: block;
	}

	.aboutText {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.aboutBlock {
		flex-direction: column;
	}

	.aboutText {
		width: auto;
	}
}