.cardPartner {
	width: 255px;
	height: auto;
	padding: 1%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	background-color: #ffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
	cursor: pointer;
}

.cardPartner:hover {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}