.partnersPage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 70%;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 5%;
}


/* .wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.partnersPageWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2%;
}