.catalogPanel {
	width: 255px;
	height: max-content;
	box-shadow: 0px 0px 8px 0px #00000026;
	border-radius: 20px;
	background-color: #FFFFFF;
	cursor: pointer;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 3%;
}

.catalogMenu {
	display: flex;
	flex-direction: column;
}

.catalogMenu li a {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #00000080;
	cursor: pointer;

}

.catalogMenu li a:hover {
	font-weight: 700;
	color: #84BE51;
}

.catalogMenu li {
	margin-bottom: 10%;
}