.aboutProduct {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.newBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 5%;
	justify-content: space-between;
	margin-top: 5%;
}

.newItem {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin-bottom: 5%;
}

.pictureNew {
	border-radius: 20px;
}

.newText {
	font-family: Montserrat;
	text-align: left;
	color: black;
}

.newTextTitle {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.94px;
}

.newText p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.5px;
}

.newText button {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.5px;
	text-align: left;
	color: #84C551;
	border: none;
	background: transparent;
	cursor: pointer;
}

@media screen and (max-width: 400px) {
	.pictureNew {
		object-fit: contain;
		width: 300px;
		height: 188px;
	}

	.aboutProduct {
		width: auto;
	}
}