textarea {
	width: 510px;
	height: 100px;
	border-radius: 20px;
	border: 1px solid #00000033;
	margin-bottom: 20px;
	padding-left: 20px;
}

.dataAccountForm input.errorInput,
.dataAccountForm textarea.errorInput {
	border: 2px solid red !important;
	background-color: #fff5f5 !important;
}

.success {
	color: green;
	font-size: 14px;
	margin: 10px 0;
}

@media screen and (max-width: 1024px) {
	.tabs .tabsContent .dataAccountForm {
		flex-direction: column;
	}
}