.plantsProtectingToolsWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.plantsProtectingTools {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2%;
	width: 70%;
}

.plantsProtectingToolsItem img {
	width: 254.29px;
	height: 164.15px;
	border-radius: 20px;
	cursor: pointer;

}

.plantsProtectingToolsItem img:hover {
	box-shadow: 0px 0px 8px 0px #00000026;
	z-index: 50;
}


.plantsProtectingToolsItem {
	margin-right: 5%;
	margin-bottom: 5%;
	width: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.plantsProtectingToolsItem button {
	background-color: #FFFFFFCC;
	color: #000000;
	position: absolute;
	bottom: 0;
	width: 250px;
}

.plantsProtectingToolsItem .aButtonBody {
	text-decoration: none;
	color: #000000;
}

.textPanel {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 22px;
	line-height: 26.82px;
	text-align: center;
	width: 255.64px;
	height: 49.78px;
	border-radius: 20px;
	background: #FFFFFFCC;
	text-align: center;
	position: absolute;
	z-index: 10;
	margin-top: -50px;
	cursor: pointer;
}

.plantsProtectingInfo {
	background-image: url(./trees.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.plantsProtectingInfoText h1 {
	color: #FFF;
}

.plantsProtectingInfoText {
	color: #FFF;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 350px;
	width: 43%;
	margin: 0 auto;
	background: rgb(0 0 0 / 15%);
	border-radius: 35px;
	padding: 0 2% 4% 3%;
}