.button {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 40px;
	border: 1px solid #1E6140;
	border-radius: 20px;
	background-color: transparent;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	cursor: pointer;
	color: #000000;
	text-transform: uppercase;
}

.button path {
	fill: #84BE51;
}

.aButton {
	text-decoration: none;


}

.button:hover {
	background-color: #E74E13;
	border: none;
	color: #FFFFFF;
}

.button:hover path {
	fill: #FFFFFF;
}