.pageCatalog {
	display: flex;
	flex-direction: row;
	margin-top: 2%;
}

.sideBarCatalog {
	display: flex;
	flex-direction: column;
	margin-right: 5%;
}

.filterMl {
	display: flex;
}

.filterSm {
	display: none;
}

@media screen and (max-width: 1024px) {
	.sideBarCatalog button {
		margin-top: 5%;
		width: 100%;
	}

	.pageCatalog {
		flex-direction: column;
	}

	.filterMl {
		display: none;
	}
}