html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.backgroundMain {
  background-image: url('/el.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}