.headText {
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	font-size: 55px;
	line-height: 67px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	width: 40%;
}

.headText h4 {
	font-weight: 300;
	margin-bottom: 0;
}

.headTextItem {
	font-weight: 400;
	font-size: 18px;
	line-height: 21.94px;
	color: #00000080;
	margin-bottom: 10%;
}