.accountPanel {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: max-content;
	box-shadow: 0px 0px 8px 0px #00000026;
	border-radius: 20px;
	background-color: #FFFFFF;
	cursor: pointer;
	margin-top: 13%;
}

.accountMenu a {
	text-decoration: none;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #00000080;
	cursor: pointer;
}

.accountMenuItem {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid #0000001A;
}

.accountMenuItem:last-child {
	border: none;
}

.accountMenuItem svg {
	margin-right: 15px;
	margin-left: 15px;
}

.accountMenuItem:first-child:hover {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.accountMenuItem:last-child:hover {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.accountMenuItem:hover {
	background-color: #84C551;
	color: #FFFFFF;
}

.accountMenuItem:hover path {
	fill: #FFFFFF;
}

.accountMenuItem:hover a {
	color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
	.accountPanel {
		display: none;
	}
}